@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css");

:root {
  --background: #000000;
  color: white;
  /* --secondary: #DAD6CF; */
  /* #E5E1DA */
}

html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}
body {
  font-family: "Vazir", sans-serif;
  background: var(--background);
}

@theme inline {
  --color-background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: oklch(100% 0.00011 271.152); */
    /* --foreground: #dcd2c6; */
    /* oklch(98% 0.016 73.684) */
  }
}