@import "tailwindcss";

:root {
  --background: #000000;
  color: white;
  /* --secondary: #DAD6CF; */
  /* #E5E1DA */
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}
body {
  font-family: "Vazirmatn", sans-serif;
  background: var(--background);
}